body {
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 120px;
}

#name {
    transition: 0.3s ease;
    letter-spacing: 4px;
    font-size: 64px;
    font-weight: 700;
    animation: glow 3s ease-in-out infinite;
}

#name:hover {
     transform: scale(1.04);
}

@keyframes glow{
     0% {
        color: #ffffff;
        text-shadow: 0 0 6px #66a6ff, 0 0 12px #66a6ff;
        transform: translateY(0);
    }
    50% {
        color: #f0f8ff;
        text-shadow: 0 0 18px #89f7fe, 0 0 26px #66a6ff;
        transform: translateY(-6px);
    }
    100% {
        color: #ffffff;
        text-shadow: 0 0 6px #66a6ff, 0 0 12px #66a6ff;
        transform: translateY(0);
    }
}

#info-btn{
    margin-top: 25px;
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: rgba(255, 255, 255. 0.25);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
}

#info-btn:hover {
   background: rgba(255, 255, 255, 0.45);
    transform: scale(1.05);
}
